@charset "utf-8";
/* candle_shadow CSS */


#candle_shadow_container {	position: absolute;							
							width: 100%;
							height:100%;
						 	margin-left: auto;
						  	margin-right: auto;
							top:0;						  	
							background-color:tranpsrent;
							z-index:100;
							text-align:center;							
							
}

#candle_shadow {	position:relative;
					display:inline-block;
					width:auto;
					height:auto;
					margin-top:20%;
					background-color:#141414;
					text-align:center;
					vertical-align:middle;
					border: solid #333 1px;
					border-radius:10px;
					
}

#closer {position:absolute; float:right; top:-45px; right:-10px; width:20px; height:20px;}

#img { text-align:center; display:block; padding:10px 10px 10px 10px;}

#img img {border: solid #333 1px; position:relative;}

#img_caption { text-align:left; width:auto; height:20px; padding:5px 5px 5px 50px;}

#img_caption p { position:relative; font-family:Calibri; font-size:12px; color:white; display:block; height:10px;}

#dev {position:relative; top:-85px; right:30px; font-family:Calibri; font-size:12px; color:white; float:right; opacity:0.5; filter:alpha(opacity=50); background:#333; padding:2px 5px 5px 5px;}

#left_but{width:48px; height:48px; position: absolute; float:left; left:50px; top:100px; display:block; z-index:2;}
#right_but{width:48px; height:48px; position: absolute; float:right; right:50px; top:100px; z-index:2;}

img { border:none; text-decoration:none;}

.turnLeft{display:none;}

.turnRight{display:none;}

#left_but_area{ background-color: transparent; background:none; width:150px; height:60px; position:absolute; top:95px; left:25px; z-index:0; display:block; margin:0px 5px 5px 5px; }
#right_but_area{ background-color: transparent; background:none; width:150px; height:60px; position:absolute; top:95px; right:25px; z-index:0; display:block; margin:0px 5px 5px 5px;}
#shadow {width:100%; height:100%; background-color:black; position:fixed; opacity:0.7; filter:alpha(opacity=70); }