@charset "utf-8";
/*links.css*/


#links a:link { text-decoration:none; color:#333; font-size:50px; font-family: Calibri, Arial; text-align:center;}
#links p {color:white; font-size:12px; font-family: Calibri, Arial;}


#body {position: absolute; top:150px; left:0px; background:#f32a34; width:2000px;}
#body_foto{ background:url(images/official-site_slide_links_bg.jpg) no-repeat; width:1024px; height:350px;}
#links_wrap {position:relative; left:20%; width:1024px; vertical-align:central; margin:20px;}
#map_container{position:relative; top:1200px;}